<td-layout-nav navigationRoute="/">
  <button mat-icon-button td-menu-button tdLayoutToggle>
    <mat-icon>menu</mat-icon>
  </button>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Dashboard</span>
    <span flex></span>
    <app-notifications></app-notifications>
  </div>
  <ng-template tdLoading="loadingOverlay" tdLoadingMode="indeterminate" tdLoadingType="circle" tdLoadingStrategy="replace" tdLoadingColor="accent">
  <div *ngIf="stocks">
    <div layout-gt-xs="row" class="flex-wrap-center">
      <div flex-gt-sm="33" *ngFor="let stock of stocks">
        <mat-card @appear>
          <mat-card-title-group>
            <mat-card-title class="text-xxl">{{stock.symbol}}</mat-card-title>
            <mat-card-subtitle>
              <span class="mat-title pad-right-xs">{{stock.value | number:'.2'}}</span>
              <span [ngClass]="{'tc-red-500': !stock.isUp, 'tc-green-500': stock.isUp}" class="mat-subheading-2">{{stock.isUp ? '+' : '-'}}{{stock.valueChange}} ({{stock.percentChange}}%)</span>
            </mat-card-subtitle>
            <img mat-card-md-image [src]=stock.image>
          </mat-card-title-group>
        </mat-card>
      </div>
    </div>
    <div layout-gt-xs="row">
      <div flex-gt-xs="60" class="chart">
        <mat-card @appear>
          <mat-card-title>Stocks</mat-card-title>
          <mat-card-content>
            <div class="chart">
              <mat-tab-group mat-stretch-tabs (selectedIndexChange)="updateCharts()">
                <mat-tab [label]="data[0].name" class="chart-height" *ngFor="let data of stockData">
                  <div app-stocks [data]="data" [view]="view"></div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div flex-gt-xs="40">
        <mat-card @appear>
          <mat-card-title>Recent News</mat-card-title>
          <mat-divider></mat-divider>
          <app-articles
            [maxArticles]="maxArticles">
          </app-articles>
          <mat-card-actions>
            <button routerLink="/news" mat-button class="text-upper">View more</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
</td-layout-nav>
